.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-text, 400);
  color: var(--accent-color, #000);
  background-color: var(--background-color, #fff);
  background-image: var(--backgroind-gradient, repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), 
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),  
    linear-gradient(#E7E7E7 0.01%, #1A1A1A 100%));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.content {
  inline-size: 100%;
  max-inline-size: 696px;
  margin: 0 auto;
}

.header {
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
  padding: 136px 0 25px;
  margin: 0 auto 104px;
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  line-height: normal;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  margin-block-end: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  margin-block-end: 25px;
}

.header__theme-menu {
  display: grid;
  justify-items: center;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  margin-inline-start: 12px;
  transition: opacity ease 0.3s;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  inset-block-end: -2px;
  inset-inline-start: 0;
  block-size: 2px;
  background-color: currentColor;
  inline-size: 100%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  color: currentColor;
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-block-end: 54px;
}

.card {
  background-color: var(--background-color, #fff);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title, 700);
  border: 2px solid var(--accent-color, #000);
  border-bottom: none;
  padding: 5px 10px;
}

.card__image-section {
  position: relative;
  border: 2px solid var(--accent-color, #000);
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.filter-hue-rotate {
  filter: hue-rotate(0.88turn);
}

.filter-blur {
  filter: blur(2px);
}

.filter-saturate-invert {
  filter: saturate(1.5) invert(0.1);
}

.filter-contrast-sepia-hue-rotate {
  filter: contrast(0.8) sepia(0.3) hue-rotate(20deg);
}

.filter-saturate {
  filter: saturate(1.4);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-brightness-saturate-hue-rotate {
  filter: brightness(0.9) saturate(1.5) hue-rotate(340deg);
}

.label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  text-transform: uppercase;
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 2px 2px 2px var(--background-color, #fff);
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .logo {
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-stroke: 1px var(--background-color, #fff);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
  border: 2px solid var(--accent-color, #000);
  border-top: none;
}

.card__text {
  font-size: 18px;
  line-height: 1.17;
}

.card__text:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__text:last-of-type {
  margin-block-end: 25px;
}

.card__button-section {
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
  margin-inline-end: 7px;
  cursor: pointer;
  transition: border-color ease 0.3s;
}

.like-icon {
  display: block;
  block-size: 37px;
}

.contour {
  transition: fill 0.3s ease 0.06s;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease 0.05s;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--heart-countur-color, #000);
  transition-delay: 0.03s;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-countur-color, #000);
}

.card__icon-button:active .core {
  fill: var(--heart-body-color, #FF0000);
  transition-delay: 0.03s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-body-color, #FF0000);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: transparent;
  border-color: var(--accent-color, #000);
}

.like-icon.is-liked .contour {
  fill: var(--heart-body-color, #FF0000);
  transition: linear 0.1s;
}

.like-icon.is-liked .core {
  fill: var(--heart-body-color, #FF0000);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body-color, #FF0000);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: opacity-sparks 0.3s ease-in 0.3s alternate;
}

.button {
  position: relative;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  line-height: 0.9;
  cursor: pointer;
  transition: box-shadow ease 0.3s;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--btn-text-color, #fff);
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color, #000);
}

.button::after {
  position: absolute;
  content: '';
  inset-inline-start: 0;
  inset-block-start: 0;
  block-size: 101%;
  inline-size: 100%;
  background-color: currentColor;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}

.button:hover:after {
  transform: scaleX(1);
}

.card__like-button {
  padding: 12.5px 17px;
  inline-size: 100%;
  max-inline-size: 130px;
}

.footer__save-button {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button__icon {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  fill: var(--btn-text-color, #fff);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
}

.dialog {
  inline-size: 100%;
  max-inline-size: 353px;
  padding: 30px;
  background-color: var(--background-color, #fff);
  color: var(--accent-color, #000);
}

.dialog[open] {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 30px 20px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__icon {
  inline-size: 39px;
  fill: currentColor;
}

.dialog__title {
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 14px;
}

.dialog__form {
  grid-column: span 2;
}

.dialog__button {
  padding: 9px 17px;
  inline-size: 100%;
  text-transform: uppercase;
}


@media (width <= 375px) {

  .header {
    padding-block-start: 120px;
  }

  .logo-title {
    font-size: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);;
  }
  
  .cards__list {
    margin-block-end: 52px;
  }

  .footer__save-button {
    flex-direction: column;
  }

  .button__icon {
    inline-size: 28px;
  }

  .dialog {
    max-inline-size: 341px;
    padding: 30px 40px;
  }
 
}